html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --color-yellow: #EDAE49;
    --color-red: #D1495B;
    --color-seaweed: #5EB1BF;
    --color-blue: #30638E;
    --color-indigo: #003D5B;
    --color-1: #d79623;
    --color-2: #eee2b9;
    --color-3: #f23c20;
    --color-4: #c4cce4;
    --color-5: #4055a1;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

.scroll-container {

}

.text-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    font-size: 10vmin;
    pointer-events: none;
}

.masked-container {
    background-color: var(--color-3);
    clip-path: circle(0% 0% at 0% 0%);
}

.split-character {
    display: inline-block;
}

.text {
    display: flex;
    flex-direction: column;
    width: 100vmin;
}

.masked-text {
    color: var(--color-2);
}

.hand-written {
    font-family: 'Nothing You Could Do', cursive;
}

.name {
    align-self: flex-start;
}

.role {
    align-self: flex-end;
}

.g {
    display: inline-block;
    position: relative;
}

.mask-start-position {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 62%;
    left: 47%;
    transform: translate(-50%, -50%);
}
